*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(7, 7, 31);
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#text{
    margin: 40px 0;
    font-size: 80px;
}

#button{
    padding: 3px 20px;
}